#mainframe {
  display: flex;
  flex-direction: row;
}

#mainframe div {
  width: 640px;
}

#mainframe div div {
  padding-top: 10px;
}

#expression {
  width: 100%;
  height: 64px;
}

.hr-container {
  display: flex;
}

.hr {
  border-bottom: 1px solid #999999;
  transform: translate(0%, -50%);
}

.hr-short {
  width: 10%;
}

.hr-long {
  width: 70%;
}

.hr-label {
  width: 20%;
  text-align: center;
}

.func-row {
  display: flex;
  flex-direction: row;
}

.func-name {
  width: 20%;
}

.func-desc {
  width: 80%;
}

.var-row {
  display: flex;
  flex-direction: row;
}

.var-name {
  width: 20%;
}

.var-value {
  width: 70%;
}